{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Fifii/css/signUpSuccess.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Spell with Fifi</title>
</head>

<body>
    <div class="container">
    <img src="{% static 'Fifii/img/logo 2 forms.png' %}" alt="" class="big-logo">
    <img src="{% static 'Fifii/img/Group 3.png' %}" alt="Icon showing access denied" width="80" height ="70">
        <h3>{{mg}}</h3>
    </div>
    <script>
    </script>
</body>

</html>