{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Fifii/css/level1.css' %}" rel="stylesheet" type="text/css">
    <title>Spell with Fifi</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <img src="{% static 'Fifii/img/logo 2 forms.png' %}" alt="" class="big-logo">
            <div class="form">
                <input type="text" id="guess" name="word" class="text-box"><br>
                <div class="button-block">
                    <button class="button" id="check">Check</button>
                    <button class="button" id="getWord">GetWord</button>
                    <button class="button" id="newWord">New Word</button>
                </div>
            </div>
        </div>
    </div>
{{ newuser }}
<script src="{% static 'Fifii/js/child.js' %}"></script>
<!-- <script>
    console.log("fkjndfk")
    let wordList = {{ word }}

    var randomIndex = Math.floor(Math.random() * wordList.length);
    var checkButton = document.getElementById("check");
    var getWordButton = document.getElementById("getWord");
    var newWordButton = document.getElementById("newWord");

    newWordButton.addEventListener("click", function () {
        location.reload();
    })

    var speech = new SpeechSynthesisUtterance();
    checkButton.addEventListener("click", function () {
        var input = document.getElementById('guess').value;

        if (input == wordList[randomIndex]) {
            speech.text = "You are correct!";
            speech.rate = 0.85;
        }
        else if (input !== wordList[randomIndex]) {
            speech.text = "You are wrong!" + "It is actually spelled" + level1[randomIndex].split(" ");
            speech.rate = 0.85;
        }
        window.speechSynthesis.speak(speech);
    })

    getWordButton.addEventListener("click", function () {

        var input = document.getElementById('guess').value;
        speech.text = "Spell" + wordList[randomIndex];
        speech.pitch = 1;
        speech.lang = "en-US";
        speech.volume = 1;
        speech.rate = 0.8;
        // speech.voice = 
        { { wordlimit } }
        var i = 0;
        // while (i < wordlimit+1) {


        //     i++;
        // }
        window.speechSynthesis.speak(speech);
    })
</script> -->
</body>

</html>